@using get_rekt.Dao.category;
@using get_rekt.Models;


@{
    ViewBag.Title = "Accueil";
    List<CategoryModel> Categories = CategoryDaoDb.getAllCategories();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Get Rekt</title>
    @Styles.Render("~/Content/app.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="back-g">
    <div class="navbar navbar-inverse navbar-fixed-top back-black">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand site-title color-w"><a href="/"><span class="color-blue">Get</span> Rekt</a></span>
                <img src="/Content/image/common/logo-white.png" alt="logo" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("En attente", "WaitList", "Video", new { area = "" }, new { @class = "participe-link back-blue white-color" })
                    </li>
                    <li>
                        @Html.ActionLink("Participe !", "AddVideo", "Video", new { area = "" }, new { @class = "participe-link back-y white-color" })
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content back-white">
        <div class="main-content col-md-9">
            @RenderBody()
        </div>
        <aside class="categories-links col-md-3">
            <div class="video-title back-black white-color">
                <span class="title">Categories</span>
            </div>

            @foreach (var item in Categories)
            {
                <a href="/video/category/@item.Id" class="category back-g-light color-black">@item.Name</a>
            }
        </aside>
    </div>

    <footer class="back-black white-color">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/app.js")
    @RenderSection("scripts", required: false)
</body>
</html>
