@model get_rekt.Models.VideoModel

@using get_rekt.Dao.Rekt;

@{
    ViewBag.Title = "WaitList";
}

<div>
    <div class="video-title back-black white-color">
        <div class="title">Liste d'attente</div>
    </div>
</div>

<div class="list-video">
    @{int i = 0;}
    @foreach (var item in ViewBag.videos as List <get_rekt.Models.VideoModel>)
    {
    int rekt = RektDaoDb.getCountRektByVideoId(item.Id);
    <div class="video-teaser first">
        <div class="video-title back-black white-color">
            <div class="subtitle">
                <a href="/video/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </div>
        </div>
        <div class="video-information back-g-light">
            <div class="img-container" style="height:300px; background:url('/pictures/@item.Picture.Link'); background-size:cover; background-position:center;">
                <div class="first-title color-w"><a href="/video/@item.Id">@Html.DisplayFor(modelItem => item.Title)</a></div>
                <div class="publish-video">
                    <button class="btn btn-warning back-y" data-publish="@item.Id">OFF</button>
                </div>
            </div>
            <div class="description back-g color-w">
                @Html.DisplayFor(modelItem => item.Description)
            </div>
            <div class="detail">
                <div class="category">@Html.DisplayFor(modelItem => item.Category.Name)</div>
                <div>Ajouté le @Html.DisplayFor(modelItem => item.Date)</div>
                <div class="rekt">@rekt</div>
            </div>
        </div>
    </div>
    i++;
    }
</div>


