@model IEnumerable<get_rekt.Models.VideoModel>

@{
    ViewBag.Title = "index_test";
}

<div class="col-md-9">
    <div class="video-title back-black white-color">
        Dernières videos
    </div>
</div>

<div class="list-video col-md-9">
    @{int i = 0;}
    @foreach (var item in Model)
    {        
        <div class="video-teaser @if (i == 0) { @Html.Raw("first"); }">
            <div class="video-title back-black white-color">
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div class="video-information back-g-light">
                <div class="img-container">
                    <img src="@Html.DisplayFor(modelItem => item.Picture.Link)" class="img-teaser" />
                    <div class="first-title color-w">@Html.DisplayFor(modelItem => item.Title)</div>
                </div>
                <div class="description back-g color-w">
                    @Html.DisplayFor(modelItem => item.Description)    
                </div>
                <div class="detail">
                    <div>@Html.DisplayFor(modelItem => item.Category.Name)</div>
                    <div>Ajouté le @Html.DisplayFor(modelItem => item.Date)</div>
                    <div>75 rekt</div>
                </div>
            </div>
        </div>
        i++;
    }
</div>
